html,
body {
    padding: 0;
    margin: 0;
}


.body__title {
    text-align: center;
    font-family: 'work sans';
    font-size: var(--header-2);
}

.body__text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'work sans';
    font-size: var(--body);
}

.body__inline {
    text-align: center;
    font-family: 'work sans';
    font-size: var(--body);
    text-decoration: underline;
}

.body__section {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    margin-bottom: 10%;
    font-family: 'work sans';
    font-size: var(--body);
}

.home__link {
    text-decoration: none;
    color: var(--blanc);
    font-size: var(--header-2);
    margin-bottom: 20%;
    margin-top: 20%;
    margin-left: 10%;
    font-family: 'work sans';
}

.home__flag {
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 20%;
}