.img__artist {
    justify-content: space-evenly;
    margin-top: 5%;
    margin-inline: auto;
    display: flex;
}

.body__title {
    text-align: center;
    font-family: 'work sans';
    font-size: var(--header-2);
}

.body__text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'work sans';
    font-size: var(--body);
}

.body__inline {
    text-align: center;
    font-family: 'work sans';
    font-size: var(--body);
    text-decoration: underline;
}

.body__section {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    margin-bottom: 10%;
    font-family: 'work sans';
    font-size: var(--body);
}

html {
    background-color: var(--quartz);
}