.artist_section {
    margin-left: 30%;
    text-decoration: none;
}

.img__artist {
    justify-content: space-evenly;
    margin-top: 5%;
    margin-inline: auto;
    display: flex;
}

.artist_detail {
    width: 70%;
    margin-left: 15%;
}

.oeuvre__img {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
}