.footer {
    background-color: var(--menu);
    color: var(--blanc);
    padding: 5px;
}

.footer__content {
    align-items: flex-start;
    list-style-type: none;
    margin-bottom: 10%;
    font-family: 'work sans';
    color: var(--blanc);
    font-size: var(--footer);
}

.footer__item {
    font-family: 'work sans';
    margin-top: 15%;
}

.footer__item a {
    text-decoration: none;
    color: var(--blanc);
    font-size: var(--footer);
}