/* Positionnement de la frise */

.arrow,
.arrow::before {
    border-left: 15px solid var(--menu);
    height: auto;
    width: 0;
    position: relative;
}

.flex__arrow {
    display: flex;
    margin-left: 0;
}

/* Positionnement des images */

.flex__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

/* Pointe de la frise */

.arrow::after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: -70px;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-top: 100px solid var(--menu);
}


/* Flèches pour changer de tableau de l'artiste */

.arrow_lr {
    margin-top: 5%;
    margin-left: 5%;
    display: block;
    justify-content: space-between;
}

.arrow__right {
    float: right;
    margin-right: 5%;
}

.arrow__left {
    margin-top: 5%;
    margin-left: 5%;
}

.arrow__next {
    display: inline-block;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}