/* Bouton carrousel */

.carrousel_parent-ecrans {
    display: flex;
    max-width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-bottom: 50%;
}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    font-size: var(--bouton);
    font-family: 'work sans';
    color: var(--blanc);
    border-radius: 10px 10px;
    padding: 10px 10px;
    background-color: var(--header);
    border-color: var(--menu);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    margin-right: 40%;
    margin-top: 20%;
}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    transform: translateY(-50%);
    top: 550px;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
}

.carrousel_btn-avant {
    left: 20px;
}

.carrousel_btn-apres {
    right: 20px;
}

.carrousel .caroussel_liste-liens {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.carrousel figcaption {
    text-align: center;
    font-family: 'work sans';
    font-size: var(--body);
}

.carrousel_list {
    margin-right: 10%;
    margin-top: 5%;
    margin-left: 5%;
}

.carrousel_nom {
    text-decoration: none;
    color: var(--texte);
    font-family: 'work sans';
    font-size: var(--body);
}

.carrousel_img {
    margin-left: 20%;
}

.carrousel__link {
    text-decoration: none;
    color: var(--blanc);
}